name: Handle PR on main

on:
  pull_request:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  CONFIG_REPO_NAME: k8scc-web-client

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn --file pom.xml --no-transfer-progress --batch-mode clean package

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}:${{ github.event.pull_request.head.sha }}
  
  update-image-tag:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - run: |
          echo "updating image tag"
          git config --global user.email ci-bot@argocd.com && git config --global user.name ci-bot
          echo "cloning repo $CONFIG_REPO_NAME"
          git clone https://oauth2:${{ secrets.GH_PAT }}@github.com/${{ github.repository_owner }}/$CONFIG_REPO_NAME.git
          cd $CONFIG_REPO_NAME
          echo "checkout source branch"
          git checkout ${{ github.event.pull_request.head.ref }}
          echo "updating image tag in values file"
          sed -i "s,tag:.*,tag:\ ${{ github.event.pull_request.head.sha }}," k8s/helm-values/k0-values-pr.yaml
          git add . && git commit -m "update pr image tag [skip ci]"
          git push

